@page "/"

@using GordonRambot.Components.Pages.TestComponents

<div class="home-page">
    <h1>Welcome to Gordon Rambot!</h1>
    <div class="component">
        <h2>Select Ingredients</h2>
        <SelectIngredients></SelectIngredients>
    </div>
    <div class="component">
        <h2>Select Recipe</h2>
        <SelectRecipe></SelectRecipe>
    </div>
    <div class="component">
        <h2>Upload Image</h2>
        <UploadImage></UploadImage>
    </div>
</div>
