@page "/"
@using GordonRambot
@using GordonRambot.Components.Pages.TestComponents
@inject NavigationManager NavigationManager

<div class="home-page">
     <img src="/Images/rambot.png" alt="Rambot Icon" class="rambot-icon">
     <h1>Welcome to Gordon Rambot</h1>
    <div class="component">
        <SelectIngredients></SelectIngredients>
    </div>
    <div class="component">
        <SelectRecipe></SelectRecipe>
    </div>
    <div class="component">
        <h2>Upload Image</h2>
        <UploadImage></UploadImage>
    </div>
    <button class="btn-settings" @onclick="GoToSettings">Go to Settings</button>
</div>

@code {
    private void GoToSettings()
    {
        NavigationManager.NavigateTo("/settings");
    }
}
