
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh; 
/*    background: linear-gradient(to top, #0d0604, #776f69);    color: #333;
    background-size: cover;
    background-position: center;*/
}

.home-page h1 {
    /* Remove the blue background and other styles that are no longer needed */
    text-align: center;
    margin: 100px 0; /* Adjust margins as needed */
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    color: #333; /* or any color you prefer */
    font-weight: bolder;
    margin-top: -260px;
}

/* New class for the smaller 'Welcome to' text */
.welcome-text {
    font-size: 1.25em; /* Smaller font size */
    color: #333; /* Adjust the color as needed */
    text-align: center;
    font-weight: bold;
}

.rambot-text {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-weight: bold;
}


.center-rectangle {
    background: linear-gradient(to top, #b2947c, #faebda);
    border-radius: 15px;
    padding: 40px;
    margin: auto;
    width: 80%;
    max-width: 600px;
    margin-top: 25vh;
/*    min-height: 80vh;
*/    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), /* Enhanced shadow for depth */
    0 16px 32px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    flex-wrap: nowrap;
    align-content: center;
}

.rambot-icon {
    display: block; /* Ensure it's a block for margin auto to work */
    width: 300px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto;
    margin-bottom: -75px; /* Space between the icon and the text */
    position: relative; /* Make the position relative for z-index to work */
    z-index: 15; /* Higher than the circle's z-index */
    margin-top: -240px; /* Adjust this value to position it over the circle */

}

.circle-above-title {
    width: 250px; /* Circle size */
    height: 250px; /* Circle size */
    border-radius: 50%; /* Makes it round */
    background: black; /* Inner color */
    border: 5px solid #fbdcaf; /* Rim color and thickness */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Shadow to the right */
    position: absolute; /* Needed for positioning */
    top: calc(25vh - 5px); /* Adjust vertical position */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for perfect centering */
    z-index: 10; /* Ensures it's above other elements */
    
}

.component h2 {
    text-align: center;
    background-color: rgba(173, 216, 230, 0.5); /* Semi-transparent light blue background */
    border-radius: 10px; /* Curved edges */
    padding: 10px 20px; /* Add some padding around the text */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
    margin-bottom: 20px;
    width: fit-content; /* Fit the width to the content with some padding */
    margin-left: auto; /* These two margins center the title */
    margin-right: auto;
}

.component {
    width: 100%; /* Ensure components take full width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    margin-bottom: 20px;
}

.home-page .btn-settings {
    cursor: pointer; /* Change cursor to pointer on hover */
    border: 3px solid black; /* Thick black border */
    background-color: transparent; /* Make background transparent */
    color: black; /* Text color */
    padding: 10px 20px; /* Padding inside the button */
    border-radius: 15px; /* Curved edges */
    text-decoration: none; /* Remove text decoration */
    display: inline-block; /* Make it inline block for margin auto to work */
    margin-top: 20px; /* Adjust space from the previous element */
    font-weight: bold; /* Optional: Make the text bold */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.home-page .btn-settings:hover {
    background-color: black; /* Background color on hover */
    color: white; /* Text color on hover */
}

.home-paragraph {
    margin-top: -350px; /* Move up the paragraph */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push the button to the bottom */
    height: 100%; /* Set the height to fill the parent or viewport */
}

